.section-heading {
  color: var(--text-dark-500);
}
.popular-location .popular-location-grid .box {
  border: 1px solid rgb(232, 232, 232);
  padding: 0.8rem 1.5rem;
  border-radius: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-location .popular-location-grid .box p:nth-child(1) {
  font-size: 1.4rem;
  color: var(--text-dark-500);
}

.popular-location .popular-location-grid .box p:nth-child(2) {
  font-size: 1.1rem;
  padding-top: 3px;
  color: var(--text-dark-400);
}
.popular-location .popular-location-grid .box i {
  color: var(--text-dark-100);
}
